body{
}
.autofill_sel_cbx{

}
.autofill_sel_cbx .checkInfo>div{
    position:relative;
    margin-top: 10px;

}

.autofill_sel_cbx ul{
  list-style: none;
    position:absolute;
    left:63px;
    top:-13px;

}
/*!*.autofill_sel_cbx ul:after{*!*/
    /*!*content:'';*!*/
    /*!*display:block;*!*/
    /*!*clear:both;*!*/
/*!*}*!*/
.autofill_sel_cbx ul li{
    float:left;
    padding-right:10px;
}

/*.autofill_sel_cbx .checkInfo>div:after{*/
    /*content:'';*/
    /*display:block;*/
    /*clear:both;*/
/*}*/
.autofill_sel_cbx .checkInfo>div>span{
   line-height: 25px;
}
/*.selectInfo .selectInfo{*/
    /*padding:5px;*/
/*}*/
.autofill_sel_cbx .select_ctl{
    width:180px;
    height: 28px;
}

/*.autofill_sel_cbx .checkInfo{*/

/*}*/


 img{
     width:200px;
     height:200px;
 }
.wrapped{
    position:relative;
    width:960px;
    margin:0 auto;
}
.aside{
    position: absolute;
    left:0;
    top:0;
    width:150px;
    border:solid 1px red;
    background-color: darkgray;
    height:300px;
}
.main{
    border:solid 1px green;
    margin-left: 160px;
}
