body{
}
.autofill_sel_cbx{

}
.autofill_sel_cbx .checkInfo>div{
    position:relative;
    margin-top: 10px;

}

.autofill_sel_cbx ul{
  list-style: none;
    position:absolute;
    left:63px;
    top:-13px;

}
/*!*.autofill_sel_cbx ul:after{*!*/
    /*!*content:'';*!*/
    /*!*display:block;*!*/
    /*!*clear:both;*!*/
/*!*}*!*/
.autofill_sel_cbx ul li{
    float:left;
    padding-right:10px;
}

/*.autofill_sel_cbx .checkInfo>div:after{*/
    /*content:'';*/
    /*display:block;*/
    /*clear:both;*/
/*}*/
.autofill_sel_cbx .checkInfo>div>span{
   line-height: 25px;
}
/*.selectInfo .selectInfo{*/
    /*padding:5px;*/
/*}*/
.autofill_sel_cbx .select_ctl{
    width:180px;
    height: 28px;
}

/*.autofill_sel_cbx .checkInfo{*/

/*}*/